<div class="files-div" id="revisionDiv">
    <div class="version-header">
        Staging Uploads:
    </div><br>
    <table class="sortable table table-hover" style="width: 100%; font-size: 16px; background:#D9D9D9;">
        <thead class="table-headers">
            <tr>
                <th style="width: 12%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Version</th>
                <th style="width: 10%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Upload Date</th>
                <th style="width: 12%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Title</th>
                <th style="width: 12%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Actions</th>
            </tr>
        </thead>
        <tbody id="stagingUploadsTable">
            {{#each stagingcontractversions}}
            <tr class="staging-upload-row">
                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{version}}.0</td>
                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{formatdate uploadDate}}</td>
                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{filename}}</td>
                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">
                    <a href="/requestdocuments/downloadcontractversion/{{file}}" class="download-contract-version text-body"><i class="bi bi-download" style="cursor: pointer;"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
