<div>
    <div>
        To ensure the safe and transparent usage of your personal information,
        we require that you read and understand the provisions stated in this document. This is in compliance with
        RA-10173 also known as the Philippine Data Privacy Act of 2012, whose implementing rules and regulations
        took effect on September 9, 2016.
    </div>
    <br>

    <div>
        <b>Definition of Terms</b> (Source: RA 10173 - Data Privacy Act)
    </div>
    <br>
    <div>
        Personal information – refers to any information whether recorded in a material form or not,
        from which the identity of an individual is apparent or can be reasonably and directly ascertained by
        the entity holding the information, or when put together with other information would directly and
        certainly identify an individual.
    </div>

    <div>
        Sensitive personal information – refers to personal information:<br>
        1. About an individual’s race, ethnic origin, marital status, age, color, and religious,
        philosophical or political affiliations;<br>
        2. About an individual’s health, education, genetic or sexual life of a person, or to
        any proceeding for any offense committed or alleged to have been committed by such person,
        the disposal of such proceedings, or the sentence of any court in such proceedings;<br>
        3. Issued by government agencies peculiar to an individual which includes, but not limited to,
        social security numbers, previous or cm-rent health records, licenses or its denials, suspension or revocation,
        and tax returns; and<br>
        4. Specifically established by an executive order or an act of Congress to be kept classified.
    </div>
    <br>
    <div>
        <b>Rights of the Data Subject</b> (Source: RA 10173 - Data Privacy Act)
    </div>
    <br>
    <div>
        As the Data Subject, you are afforded the following rights as written in RA 10173 otherwise known as
        the Data Privacy Act of 2012.<br>
            
        1. The right to be informed whether personal information pertaining to him or her shall be,
        are being or have been processed.<br>
        2. The right to be furnished with the information before the entry of his or her personal information into
        the processing system of the personal information controller.<br>
        3. The right to reasonable access to the data subjects information upon demand.<br>
        4. The right to dispute the inaccuracy or error in the personal information and have the personal
        information controller correct it immediately and accordingly, unless the request is
        vexatious or otherwise unreasonable.<br>
        5. The right to suspend, withdraw or order the blocking, removal or destruction of his or her
        personal information from the personal information controller’s filing system upon discovery and
        substantial proof that the personal information are incomplete, outdated, false, unlawfully obtained,
        used for unauthorized purposes or are no longer necessary for the purposes for which they were collected.<br>
        6. The right to be indemnified for any damages sustained due to such inaccurate, incomplete,
        outdated, false, unlawfully obtained or unauthorized use of personal information.<br>
        7.The right to data portability thru the ability to obtain from the personal information controller
        a copy of data undergoing processing in an electronic or structured format, which is commonly used and
        allows for further use by the data subject.<br>
        8. The right to lodge a complaint before the National Privacy Commission.<br>
    </div>
    <br>
    <div>
        In compliance with the Data Privacy Act (DPA) of 2012, and its Implementing Rules and Regulations (IRR)
        effective since September 9, 2016, I allow the OULC to store and use my data for the purpose of this approval
        request form.
    </div>
    <br>
    <div>
        Upon filling up this approval request form, I agree and give my full consent and authorization for
        the OULC to store and use my data for the purpose of this approval request form.
    </div>
    <br>
    <div>
        <input type="checkbox" id="agreeConsent" value="1" onclick="checkConsentBox(this)" />
        <label for="agreeConsent">I have fully read the Data Privacy Act of 2012 and I consent to give my information</label>
    </div>
    
</div>