<div>
    Feedback History

    <div>
        <br>
        {{#each feedback}}
        {{user_id.fullName}} <br>
        {{formatfeedbackdate date}} <br>
        {{content}} <br>
        <br>
        {{/each}}
    </div>
    
</div>