<link rel="stylesheet" href="/css/messagesstyle.css">
<script src = "/socket.io/socket.io.js"></script>

<script>
    $(document).ready( () => {

    });
</script>

<div id = "negotiation-div">
    negotiation

</div>


<script>

</script>