
{{#compare user_role '==' 'Staff'}}
<div id="request-btns">
    <button class="mark-btn" id="forLegalReviewBtn" data-bs-toggle="modal" data-bs-target="#legalReviewModal">Mark Request as For Legal Review</button>
    <button class="mark-btn" id="forRevisionBtn" data-bs-toggle="modal" data-bs-target="#forRevisionModal">Mark Request as For Revision</button>
</div>
{{else}}
<div id="request-btns">
    <button class="mark-btn" id="approveBtn" data-bs-toggle="modal" data-bs-target="#approveModal">Approve Request</button>
    <button class="mark-btn" id="routeAttorneyBtn" data-bs-toggle="modal" data-bs-target="#routeAttorneyModal">Route to Another Attorney</button>
    <button class="mark-btn" id="forRevisionBtn" data-bs-toggle="modal" data-bs-target="#forRevisionModal">Mark Request as For Revision</button>
</div>
{{/compare}}