<script src="/js/specificrequest.js" type="text/javascript"></script>

<div id="request-btns">
    <button class="mark-btn" id="forLegalReviewBtn" data-bs-toggle="modal" data-bs-target="#legalReviewModal">Mark Request as For Legal Review</button>
    <button class="mark-btn" id="forRevisionBtn" data-bs-toggle="modal" data-bs-target="#forRevisionModal">Mark Request as For Revision</button>
</div>