<link rel="stylesheet" href="/css/sidenavstyle.css">

<div id = "burger-menu" onclick="openNav()">&#9776;</div>
<div id="mySidenav" class="sidenav">
    <div id = "side-nav-header">
        <div id = "side-nav-logo"><img src="/img/dlsu_logo.png" style="float: left; width:50px; padding:0px; margin-right: 10px;"/>OULC</div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </div>
    {{#compare user_role "==" "Staff"}}
    <a href="/staff"><img src="/img/dashboard_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Dashboard</a>
    <a href="/staff/contractrequests"><img src="/img/approval_requests_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Approval Requests</a>
    <a href="/staff/templates"><img src="/img/contract_templates_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Contract Templates</a>
    <a href="/staff/repository"><img src="/img/docu_repository_logo.jpg" style="width:45px; padding:0px; margin-right: 15px;"/>Document Repository</a>
    <a href="/logout" id = "sidenav-logout">Log Out</a>
    {{/compare}}

    {{#compare user_role "==" "Attorney"}}
    <a href="/attorney"><img src="/img/dashboard_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Dashboard</a>
    <a href="/attorney/contractrequests"><img src="/img/approval_requests_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Approval Requests</a>
    <a href="/attorney/templates"><img src="/img/contract_templates_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Contract Templates</a>
    <a href="/attorney/repository"><img src="/img/docu_repository_logo.jpg" style="width:45px; padding:0px; margin-right: 15px;"/>Document Repository</a>
    <a href="/logout" id = "sidenav-logout">Log Out</a>
    {{/compare}}

    {{#compare user_role "==" "Requester"}}
    <a href="/requester"><img src="/img/home.png" style="width:45px; padding:0px; margin-right: 15px;"/>Home</a>
    <a href="/requester/contractrequests"><img src="/img/approval_requests_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Approval Requests</a>
    <a href="/requester/templates"><img src="/img/contract_templates_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Contract Templates</a>
    <a href="/requester/repository"><img src="/img/docu_repository_logo.jpg" style="width:45px; padding:0px; margin-right: 15px;"/>Document Repository</a>
    <a href="/"><img src="/img/help_icon.png" style="width:45px; padding:0px; margin-right: 15px;"/>Help Articles</a>
    <a href="/logout" id = "sidenav-logout">Log Out</a>
    {{/compare}}

</div>

<script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "max-content";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    
    document.onclick = function (e) {
    if (e.target.id !== 'mySidenav' && e.target.id !== 'burger-menu') {
        if (e.target.offsetParent && e.target.offsetParent.id !== 'mySidenav')
            closeNav()
    }
}
</script>