<link rel="stylesheet" href="/css/sidenavstyle.css">

<div id = "burger-menu" onclick="openNav()">&#9776;</div>
<div id="mySidenav" class="sidenav">
    <div id = "side-nav-header">
        <div id = "side-nav-logo"><img src="/img/dlsu_logo.png" style="float: left; width:50px; padding:0px; margin-right: 10px;"/></div>
        <span class = "logo-text">OULC</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </div>
    {{#compare user_role "==" "Staff"}}
    <a href="/staff" class = "nav-link"><img src="/img/dashboard_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Dashboard</a>
    <a href="/staff/contractrequests" class = "nav-link"><img src="/img/approval_requests_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Approval Requests</a>
    <a href="/staff/templates" class = "nav-link"><img src="/img/contract_templates_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Contract Templates</a>
    <a href="/staff/repository" class = "nav-link"><img src="/img/docu_repository_logo.jpg" style="width:45px; padding:0px; margin-right: 15px;"/>Contract Repository</a>
    <a href="/staff/policy" class = "nav-link"><img src="/img/policy-icon.png" style="width:45px; padding:0px; margin-right: 15px;"/>OULC Policies</a>
    <a href="/staff/FAQs" class = "nav-link"><img src="/img/help_icon.png" style="width:45px; padding:0px; margin-right: 15px;"/>Help Articles</a>
    <a href="/logout" id = "sidenav-logout">Log Out</a>
    {{/compare}}

    {{#compare user_role "==" "Attorney"}}
    <a href="/attorney" class = "nav-link"><img src="/img/dashboard_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Dashboard</a>
    <a href="/attorney/contractrequests" class = "nav-link"><img src="/img/approval_requests_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Approval Requests</a>
    <a href="/attorney/templates" class = "nav-link"><img src="/img/contract_templates_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Contract Templates</a>
    <a href="/attorney/repository" class = "nav-link"><img src="/img/docu_repository_logo.jpg" style="width:45px; padding:0px; margin-right: 15px;"/>Contract Repository</a>
    <a href="/attorney/policy" class = "nav-link"><img src="/img/policy-icon.png" style="width:45px; padding:0px; margin-right: 15px;"/>OULC Policies</a>
    <a href="/attorney/FAQs" class = "nav-link"><img src="/img/help_icon.png" style="width:45px; padding:0px; margin-right: 15px;"/>Help Articles</a>
    <a href="/logout" id = "sidenav-logout">Log Out</a>
    {{/compare}}

    {{#compare user_role "==" "Requester"}}
    <a href="/requester" class = "nav-link"><img src="/img/home.png" style="width:45px; padding:0px; margin-right: 15px;"/>Home</a>
    <a href="/requester/createrequest" class = "nav-link"><img src="/img/new-request-sidenav-logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Create Request</a>
    <a href="/requester/contractrequests" class = "nav-link"><img src="/img/envelope-svgrepo-com.svg" style="width:45px; padding:0px; margin-right: 15px;"/>Approval Requests</a>
    <a href="/requester/templates" class = "nav-link"><img src="/img/contract_templates_logo.png" style="width:45px; padding:0px; margin-right: 15px;"/>Contract Templates</a>
    <a href="/requester/repository" class = "nav-link"><img src="/img/docu_repository_logo.jpg" style="width:45px; padding:0px; margin-right: 15px;"/>Contract Repository</a>
    <a href="/requester/policy" class = "nav-link"><img src="/img/policy-icon.png" style="width:45px; padding:0px; margin-right: 15px;"/>OULC Policies</a>
    <a href="/requester/issuelog" class = "nav-link"><img src="/img/issue-flag-icon.png" style="width:45px; padding:0px; margin-right: 15px;"/>Issue Log</a>
    <a href="/requester/FAQs" class = "nav-link"><img src="/img/help_icon.png" style="width:45px; padding:0px; margin-right: 15px;"/>Help Articles</a>
    <a href="/logout" id = "sidenav-logout">Log Out</a>
    {{/compare}}

</div>

<script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "max-content";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    
    document.onclick = function (e) {
    if (e.target.id !== 'mySidenav' && e.target.id !== 'burger-menu') {
        if (e.target.offsetParent && e.target.offsetParent.id !== 'mySidenav')
            closeNav()
    }
}
</script>