<div class="container">
    <div class="files-div">
        <div class = "files-header">Contract Versions: </div><br>
        <table id="table" class="sortable table table-hover"
            style="width: 100%; font-size: 16px; background:#D9D9D9;">
            <thead class="table-headers">
                <tr>
                    <th style="width: 12%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Version</th>
                    <th style="width: 10%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Upload Date</th>
                    <th style="width: 12%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Uploaded By</th>
                    <th style="width: 12%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Actions</th>
                </tr>
            </thead>
            <tbody id="documentsAttachedTable">
                {{#each contractversions}}
                <tr id="{{_id}}" class="latest-version-contract-row">
                    <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{filename}}</td>
                    <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{formatdate uploadDate}}</td>
                    <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">
                        <input type="checkbox" class="is-reviewed form-check-input" value="{{isreviewed}}" {{#if isreviewed}}checked="checked"{{/if}}>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <h5>Version Notes: </h5>
    </div>
</div>