<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>

<html>
<head>
    <link rel="icon" href="/img/dlsu_logo.png" type="image/x-icon"/>
    <title>{{title}} | University Legal Counsel DMS </title>
</head>
<body>
    {{> menubar}}
    {{{body}}}
</body>
</html>