<!DOCTYPE html>

<html>
    <head>
        <title>Add User</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/createrequeststyle.css">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="/js/createrequest.js"></script>
        {{!-- Daterange picker files --}}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    </head>
    <body>
        <div id="header">Create Contract Approval Request</div>
        <div id="subheader">
            <a href="/requester" class = "home-href">Home</a>
            <p class = "divider" style = "display: inline;"> > </p>
            <a href = "/requester/createrequest" id = "selected" id = "selected" class = "home-href">Create Approval Request</a>
        </div>
        <div id="steps-subheader">
            <div class="steps-circle selected-step">
                <div class = "step-no">
                    1
                </div>
            </div>
            <div class = "steps">
                Fill up IRF & FRF
                <hr class = "steps-divider" size="3" color="#000">
            </div>
            <div class="steps-circle">
                <div class = "step-no">
                    2
                </div>
            </div>
            <div class = "steps">
                Review & Submit Approval Request Details
            </div>
        </div>

        <div class = "container">
            <div id = "irf-frf-header">
                1. Joint Initial and Final Review Form
            </div>

            <form id = "requestForm" action="/requester/createcontractrequest" method="POST"  enctype="multipart/form-data">
            <div class = "row">
                <div class="col label-and-input mb-3">
                    <label for="department" class="form-label">Department/Unit</label>
                    <input type="text" name="department" class="text-input read-only" id="department" value="{{department}}" required readonly disabled>
                </div>
                <div class="col label-and-input mb-3">
                    <label for="requestdate" class="form-label">Request Date</label>
                    <input type="text" name="requestdate" class="text-input read-only" id="requestdate" value="{{formatdate requestdate}}" required readonly disabled>
                </div>
            </div>
            <div class = "row">
                <div class="col label-and-input mb-3">
                    <label for="signatoryname" class="form-label">Name of Signatory*</label>
                    <input type="text" name="signatoryname" class="text-input" id="signatoryname" required>
                </div>
                <div class="col label-and-input mb-3">
                    <label for="signatorylevel" class="form-label">Signatory Level</label>                      
                    <input type="number" name="signatorylevel" class="text-input read-only" id="signatorylevel" value = "1" readonly>
                </div>
            </div>
            <div class = "row">
                <div class="col label-and-input mb-3">
                    <label for="contactperson" class="form-label">Contact Person*</label>
                    <input type="text" name="contactperson" class="text-input" id="contactperson" required>
                </div>
                <div class="col label-and-input mb-3">
                    <label for="contactno" class="form-label">Contact Local No.*</label>
                    <input type="tel" name="contactno" class="text-input" id="contactno" placeholder=""  minlength = "8" maxlength = "13" required>
                </div>
            </div>
            <div class = "row">
                <div class="col label-and-input mb-3">
                    <label for="thirdpartyname" class="form-label">Third Party Name</label>
                    <input type="text" name="thirdpartyname" class="text-input" id="thirdpartyname" >
                </div>
                <div class="col label-and-input mb-3">
                    <label for="thirdpartyemail" class="form-label">Third Party Email</label>
                    <input type="email" name="thirdpartyemail" class="text-input" id="thirdpartyemail" >
                </div>
            </div>
                <div class="label-and-input solo-row mb-3">
                    <label for="documenttitle" class="form-label">Document Title*</label>
                    <input type="text" name="documenttitle" class="text-input" id="documenttitle" required>
                </div>
                <div class="label-and-input solo-row mb-3">
                    <label for="documenttype" class="form-label">Document Type*</label>
                    <select class="text-input" aria-label="Document Type" name="documenttype" id="documenttype">
                        {{#each contracttypes}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="label-and-input radio-btns mb-3">
                    <label for="templateused" class="form-label">Template Used*</label>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="templateused" id="radioTemplateUsed1" value="DLSU Template" checked>
                            <label class="form-check-label" for="radioTemplateUsed1">
                                DLSU Template
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="templateused" id="radioTemplateUsed2" value="Other (e.g.: From other party, own templates)">
                            <label class="form-check-label" for="radioTemplateUsed2">
                                Other (e.g.: From other party, own template)
                            </label>
                        </div>
                        <div id = "template-div">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="templateused" id="radioTemplateUsed3" value="DLSU Template with changes in section/paragraph">
                                <label class="form-check-label" for="radioTemplateUsed3">
                                    DLSU Template with changes in section/paragraph
                                </label>
                            </div>
                            <div class="" id="sectionChangesDiv" hidden>
                                <input type="text" name="sectionchanges" class="text-input" id="sectionchanges" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class="col label-and-input break-text mb-3">
                        <label for="contractingparty" class="form-label">Name of Other Contracting Party*</label>
                        <input type="text" name="contractingparty" class="text-input" id="contractingparty" required>
                    </div>
                    <div class="col label-and-input mb-3">
                        <label for="amount" class="no-label-width">Amount Involved, if any</label>
                        <input type="number" name="amount" class="text-input" id="amount" placeholder = "₱" min = "0">
                    </div>
                </div>
                
                <div class="label-and-input solo-row mb-3">
                    <label for="subject" class="form-label">Subject Matter*</label>
                    <input type="text" name="subject" class="text-input" id="subject" required>
                </div>
                {{!-- <div class="mb-3">
                    <label for="starteffectivity" class="form-label">*Effectivity Date From</label>
                    <input type="date" name="starteffectivity" class="text-input" id="starteffectivity" >
                </div>
                <div class="mb-3">
                    <label for="endeffectivity" class="form-label">*Until</label>
                    <input type="date" name="endeffectivity" class="text-input" id="endeffectivity" >
                </div> --}}
                <div class = "row">
                    <div class="col label-and-input mb-3">
                        <label for="daterange" class="form-label">Effectivity Date*</label>
                        <input type="text" class="text-input" name="daterange"/ required>
                    </div>
                    <div class="col label-and-input mb-3">
                        <label for="duration" class="form-label">Duration (days)</label>
                        <input type="number" name="duration" class="text-input read-only" id="duration" readonly required>
                    </div>
                </div>
                
                <div class="label-and-input solo-row mb-3">
                    <label for="reviewtype" class="form-label">Type of Review*</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reviewtype" id="radioReviewType1" value="Regular" checked>
                        <label class="form-check-label" for="radioReviewType1">
                            Regular
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reviewtype" id="radioReviewType2" value="Express">
                        <label class="form-check-label" for="radioReviewType2">
                            Express
                        </label>
                    </div>
                </div>
                <div class="solo-row mb-3">
                    <label for="contractFiles" class="form-label">Upload Contract(s)*</label>
                    <input type="file" name="contractFiles" accept="application/pdf" class="" id="contractFiles" required multiple>
                </div>
                <div class="solo-row mb-3">
                    <label for="refDocFiles" class="form-label">Upload Reference Document(s)</label>
                    <input type="file" name="refDocFiles" accept="application/pdf" class="" id="refDocFiles" multiple>
                </div>
                <div class = "solo-row btn-div">
                    <a href = "/requester" class = "btn-div-href">&#60; Back to Home</a>
                    <button type="submit" id = "continueBtn" class="" onclick = "lockChanges()">Continue</button>
                </div>
            </form>
        </div>
    </body>
</html>

<script>
    document.getElementById("continueBtn").onclick = function() {
        const form  = document.getElementById('requestForm');

        let allAreFilled = true;

        document.getElementById("requestForm").querySelectorAll("[required]").forEach(function(i) {
            if (!allAreFilled)
                form.submit();
                return;

            if (i.type === "radio") {
                let radioValueCheck = false;
                document.getElementById("requestForm").querySelectorAll(`[name=${i.name}]`).forEach(function(r) {
                    if (r.checked) radioValueCheck = true;
                })
                allAreFilled = radioValueCheck;
                return;
            }
            if (!i.value) {
                allAreFilled = false;
                return;
            }
        })
            if (!allAreFilled) {
                alert('Fill all the fields');
                form.addEventListener('submit', (event) => {
                    // stop form submission
                event.preventDefault();
            });
        }
    };
</script>