<!DOCTYPE html>

<html>
    <head>
        <title>Add User</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/templatesoulc.js" type="text/javascript"></script>
        <script src="/js/oulctablefilter.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/css/templatesoulcstyle.css">
    </head>
    <body>

        <div id="header">Frequently Asked Questions</div>
        <div class="container">
            <div class="row">
                <div id = "faqs-bar" class="col-6">
                    {{#compare user_role "!=" "Requester"}}
                    <div class="">
                        <button class="upload-btn addnew-btn" data-bs-toggle="modal" data-bs-target="#addFAQModal">+ Add New</button>
                    </div>
                    {{/compare}}
                </div>
            </div>
            
            <div style = "color: black">
                    {{#each faqs}}
                        Question: {{question}} <br>
                        Answer: {{answer}} <br>
                        <br>
                    {{/each}}
            </div>

        </div>

        <!-- UPLOADING FILE TOAST -->
        <div class="toast-container" style="position: absolute; bottom: 10px; left: 10px;">
            <div class="toast" id="uploadingFileToast">
                <div class="toast-header">
                    <strong class="me-auto"><i class="bell-fill"></i> Uploading File</strong>
                    <small>Just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    Uploading .DOCX or .DOC files may take a while.
                </div>
            </div>
        </div>

        <!-- REPLACING FILE TOAST -->
        <div class="toast-container" style="position: absolute; bottom: 10px; left: 10px;">
            <div class="toast" id="replacingFileToast">
                <div class="toast-header">
                    <strong class="me-auto"><i class="bell-fill"></i> Replacing File</strong>
                    <small>Just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    Replacing with .DOCX or .DOC files may take a while.
                </div>
            </div>
        </div>

    </body>

    <!-- Add New FAQs Modal -->
    <div class="modal fade" id="addFAQModal" tabindex="-1" aria-labelledby="addFAQModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="w-100 modal-title" id="exampleModalLabel">Add New FAQ</h5>
                    <button type="button" class="header-close-btn" data-bs-dismiss="modal">&times;</button>
                </div>
                <form action="/staff/addFAQs" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="questionFAQ" class="form-label">Question</label>
                            <textarea class="form-control" id="questionFAQ" name="questionFAQ" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="answerFAQ" class="form-label">Answer</label>
                            <textarea class="form-control" id="answerFAQ" name="answerFAQ" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="upload-btn-modal" id="uploadTemplateBtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

 <!-- View Full Size Template Modal -->
    <div class="modal fade modal-xl" id="view-full-size-modal" tabindex="-1" aria-labelledby="view-full-size-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title w-100" id="exampleModalLabel">View Full Size Template</h5>
                    <button type="button" class="header-close-btn" data-bs-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div id="templateViewFullSize">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</html>

<script>
    var user_role = "{{user_role}}";
    var trashIconList;
    var replaceIconList;
    
    if (user_role == "Requester"){
        trashIconList = document.getElementsByClassName("bi-trash");
        replaceIconList = document.getElementsByClassName("bi-replace");
        for (var i = 0; i < trashIconList.length; i++ ) {
            trashIconList[i].style.display = "none";
            replaceIconList[i].style.display = "none";
        }
    }

</script>