<!DOCTYPE html>

<html>
    <head>
        <title>Log In</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/loginstyle.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    </head>
    <body>
        <div class="wrap"> <!-- show this only when email is registered in the db. -->
            <div class = "reset-pass-header">
                <h2><img src="/img/mail-send-icon.png" style= "width: 80px;"></h2>
                Reset Password Link Sent
            </div>
            <form action = "/" method = "GET">
                <div class ="reset-pass-text">We have sent the link to your email. If it doesn't appear within a few minutes, check your spam folder.</div>
                <input type="submit" class="loginbtn" value="Return To Sign In">
            </form>
        </div>
    </body>
</html>