<!DOCTYPE html>

<html>
    <head>
        <title>Log In</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/loginstyle.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    </head>
    <body>
        <div class="wrap">
            <div class = "reset-pass-header">
                <h2><img src="/img/lock_icon.png" style= "width: 80px;"></h2>
                Reset Password
            </div>
            <form action = "/login/forgotpasswordconfirmation" method = "POST">
                <div class = "reset-pass-text">Please enter your user email address and we will send you a password reset link.</div>
                {{#compare emailInput "==" "unregistered"}}
                    <div class = "reset-pass-warning"> <!-- show this only when the user is not registered in the db upon clicking send reset password to email -->
                        The email address entered is not registered.
                    </div>
                {{/compare}}
                <input type="email" id = "email" name = "email" class="emailbox" placeholder="Enter your email" required>
                
                <input type="submit" class="loginbtn" value="Send Reset Link">
            </form>
        </div>
        <br>
    </body>
</html>