<!DOCTYPE html>

<html>
    <head>
        <title>Log In</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/loginstyle.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    </head>
    <body>
        <div class="wrap">
            <div id = "header">
                <h2><img src="/img/dlsu_logo.png" style= "width: 80px; margin-top: -15px;"></h2>
                Reset Password
            </div>
            <div class="alert alert-danger"> <!-- show this only when the user is not registered in the db upon clicking send reset password to email -->
                The email address entered is not registered.
            </div>
            <form class = "login" action = "login/logcheck" method = "POST">
                <div>Enter your user account's email address and we will send you a password reset link</a></b></div>
                <input type="email" id = "email" name = "email" class="emailbox" placeholder="Enter your email" required>
                <input type="submit" class="loginbtn" value="Send Reset Password to Email">
            </form>
        </div>

        <div class="wrap"> <!-- show this only when email is registered in the db. -->
            <div id = "header">
                <h2><img src="/img/dlsu_logo.png" style= "width: 80px; margin-top: -15px;"></h2>
                Reset Password
            </div>
            <form class = "login" action = "login/logcheck" method = "POST">
                 <div>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</a></b></div>
                <input type="submit" class="loginbtn" value="Return to sign in">
            </form>
           
        </div>
    </body>
</html>