<!DOCTYPE html>

<html>
    <head>
        <title>Log In</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/loginstyle.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    </head>
    <body>
        <div class="wrap">
            <div id = "header">
                <h2><img src="/img/dlsu_logo.png" style= "width: 80px; margin-top: -15px;"></h2>
                Office of the University Legal Counsel<br>Contract Management System
            </div>
            <form class = "login" action = "login/logcheck" method = "POST">
                <div>Email</div>
                <input type="email" id = "email" name = "email" class="emailbox" placeholder="Enter your email" required>
                <div>Password</div>
                <input type="password" id = "password" name = "password" class="pwdbox" placeholder="Password" required>
                <input type="submit" class="loginbtn" value="Login">
            </form>
        </div>
    </body>
</html>