<!DOCTYPE html>

<html>
    <head>
        <title>Log In</title>
        
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/loginstyle.css">
        <link rel="stylesheet" href="/css/navstyle.css">
    </head>
    
    <body>
        <div class="wrap">
            <div id = "header">
                <h2><img src="/img/dlsu_logo.png" style= "width: 80px; margin-top: -15px;"></h2>
                Office of the University Legal Counsel<br>Contract Management System
            </div>
            <form class = "login" action = "/login/logcheck" method = "POST">
                <span class = "error-label mr-auto" style="font-style: italic; color: rgb(255,0,0); font-size: 14px;">
                    <div class="row ml-1">Incorrect email or password.</div>
                    <div class="row ml-1" style = "margin-bottom: 10px;">Forgot your password?&nbsp;<b><a href="/login/register">Reset your password here.</a></b></div>
                </span>
                <div>Email</a></b></div>
                <input type="email" id = "email" name = "email" class="emailbox" placeholder="Enter your email" required>
                <div>Password</a></b></div>
                <input type="password" id = "password" name = "password" class="pwdbox" placeholder="Password" required>
                <input type="submit" class="loginbtn" value="Login">
            </form>
        </div>
        
        <script>
            $(document).ready(function(){
                $(".search-icon").click(function(){
                    $(".search-box").toggle();
                    $(".search-box input[type='text']").focus();
                });  
            });
        </script>  
    </body>
</html>