<!DOCTYPE html>

<html>
    <head>
        <title>Log In</title>
        
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/loginstyle.css">
        <link rel="stylesheet" href="/css/navstyle.css">
    </head>
    
    <body>
        <div class="wrap">
            <h2><img src="/img/freezindelightslogo2.png" style= "width: 300px; margin-top: -20px"></h2>
            <form class = "login" action = "/login/logcheck" method = "POST">
                <span class = "error-label mr-auto" style="font-style: italic; color: red; font-size: 14px;">
                    <div class="row ml-1">Incorrect email or password.</div>
                    <div class="row ml-1" style = "margin-bottom: 10px;">No account yet? Click here to&nbsp;<b><a href="/login/register">sign up.</a></b></div>
                </span>
                <div style="color:#000000; font-size: 18px; font-weight: bolder; font-family: 'Quicksand', sans-serif;">Email</a></b></div>
                <input type="email" id = "email" name = "email" class="emailbox" placeholder="Enter your email" required>
                <div style="color:#000000; font-size: 18px; font-weight: bolder; font-family: 'Quicksand', sans-serif;">Password</a></b></div>
                <input type="password" id = "password" name = "password" class="pwdbox" placeholder="Password" required>
                <input type="submit" class="loginbtn" value="Log In">
            </form>
        </div>
        
        <script>
            $(document).ready(function(){
                $(".search-icon").click(function(){
                    $(".search-box").toggle();
                    $(".search-box input[type='text']").focus();
                });  
            });
        </script>  
    </body>
</html>