#header {
    position: relative;
    margin-left: 121px;
    margin-top: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 54px;
    /* identical to box height */
    color: #000000;
}

#selected {
    border-bottom: solid #0C8039 5px;
    color: #000;
    transition: 0.25s
}

.add-user-href, .add-user-href:visited, .add-user-href:link, .add-user-href:active
{
    text-decoration: none;
    color: #ABABAB;
}


.add-user-href:hover {
    color: #000;
    transition: 0.25s;
}

.divider {
    margin-left: 10px;
    margin-right: 10px;
}

#subheader {
    position: relative;
    margin-left: 121px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 54px;
    /* identical to box height */
    color: #ABABAB;
}

.container{
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    max-width: 1290px;
    margin:20px auto 60px;
    background: rgba(217, 217, 217, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    box-sizing: border-box;
    padding:40px;
    color:#fff;
}

#bg-img {
    background: url("/img/dlsu_facade_add_user.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 40px;
}

.row {
    color: #000;
    font-family: 'Poppins';
    font-size: 18px;
}

.create-btn {
    width: 100%;
    padding:12px 87px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
    background: #0C8039;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    letter-spacing: 1px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.create-btn:hover, .create-btn:active {
    background: rgba(0, 113, 61, 1);
    transition: .25s;
}

.form-control, .form-select {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}