*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

.dropdown-item:visited
{
    text-decoration: none;
    color: black;
}

nav {
    font-family: 'Work Sans', sans-serif;
    background: #00713D;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
}

label.logo{
    padding: 0 100px;
}

nav ul{
    float: right;
    padding: 0 100px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    cursor:pointer;
}

nav ul li a{
    color: #000000;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 5px;
}

nav a.active, nav a:hover:not(.logo), nav a:hover:not(.btn2){
    background: none;
    transition: .25s;
    color: #000000 !important;
}

.btn2 {
    color: #fff !important;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 1035px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fafeff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 24px;
    }
    nav a:hover,nav a.active{
        background: none;
        color: #0763AE;
    }
    #check:checked ~ ul{
        left: 0;
    }
    
    .search-icon{
        display: none;
    }
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-logo {
    left: 121px;
    top: 10px;
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
}

#accountName {
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    cursor: default;
}

.circle {
    width:40px;
    height:40px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    background: #6DB388;;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.initials {
    color: #000;
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
    text-decoration: none;
    height: 40px;
    width: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

#notifBtn {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    margin-left: 2em;
    margin-right: 2em;
}

#notifBtn:hover {
    color: #000;
    transition: .25s;
}

.navbar-link {
    color: #fff !important;
}

.dropdown-item {
    line-height: 40px;
    margin: 0;
    border-bottom: 1px solid #9F9F9F;
    border-radius: 0px;
}

.dropdown-item:hover {
    background: #9F9F9F;
}