#header {
    position: relative;
    margin-left: 121px;
    margin-top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 54px;
    /* identical to box height */
    color: #000000;
}

.nav-tabs {
    width: fit-content;
    margin-left: 121px;
    padding: 0px;
    margin-right: 20px;
    margin-bottom: 15px;
    border-style: none;
}

.nav-item {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    margin-right: 10px;
    border: none;
    outline: none;
    background: transparent;
    padding-bottom: 0px;
    color:#ABABAB;
}

.nav-item:active, .nav-item:focus, .selected {
    border-bottom: solid #0C8039 5px;
    color: #000;
    transition: 0.25s
}

.nav-item:hover {
    color: #000;
    transition: 0.25s
}

#user-table, #user-table2 {
    display:none;
    margin-top: 10px;
    margin-left: 121px;
    margin-right: 121px;
    margin-bottom: 50px;
    max-height: 450px;
    overflow: auto;
}

.table-headers {
    background: #0c8039;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    line-height: 24px;
    text-align:center;
    cursor: pointer;
    position: sticky;
    top: 0;
}

#myTable {
    font-size: 16px;
}

#myInput {
    margin-left: 121px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    width: 258px;
    height: 49px;
    background: #FFFFFF;
    border-radius: 0px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#query-search {
    display: inline-flex;
    align-items: baseline;
    width: fit-content;
}

#dropdowns {
    font-size: 16px;
    float: right;
    margin-right: 121px;
    width: fit-content;
    color: #000;
}

#add-search-dropdowns {
    display: inline-flex;
    align-items: baseline;
}

.dept-and-role {
    color: #000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    padding-left: 10px;
}

#contracttypedropdown, #requesttypedropdown {
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    background: #FFFFFF;
    border-radius: 0px;
    border: 1px solid #ced4da;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 213px;
    height: 49px;
    align-content: center;
}

.focus {
    background-color: rgba(12, 128, 57, 0.6);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.pageNumber {
    padding: 2px;
}

#after-table {
    position:sticky;
    bottom: 0;
    margin-top: 5px;
    background-color: #fff;
}

table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
    content: " ";
    display: none;
}

#sorttable_sortfwdind, #sorttable_sortrevind {
    font-size: 24px;
}

.sorttable_sorted, .sorttable_sorted_reverse {
    border-top: solid #0C8039 4px;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE";
    font-size: 24px;
}

#violationTooltip {
    color: #000;
    cursor: pointer;
}

#violationTooltip:hover {
    color:#00713D;
    transition: 0.25s;
}

.modal-body {
    font-family: 'Poppins';
    font-size: 16px;
    padding: 20px 40px;
    justify-content: center;
    text-align: left;
    background: #D9D9D9;
    color: #000;
    outline: none;
    cursor: default;
}

.modal-header {
    display: flex;
    background: #00713D;
    font-family: 'Poppins';
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    line-height: 48px;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: none;
    cursor: default;
}

.modal-footer {
    margin-top: 0px;
    outline: none;
    border: none;
    background: #D9D9D9;
    justify-content: center;
    cursor: default;
}

.header-close-btn {
    height: fit-content;
    line-height: normal;
    padding: 0px;
    border: none;
    background: none;
    color: #fff;
    float: right;
    font-size: 24px;
}

.header-close-btn:hover {
    color: #000;
    transition: .25s;
}

.close-btn {
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    padding: 12px 20px;
    background: rgba(139, 139, 139, 0.6);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    color: #fff;
    border: none;
    outline: none;
}

.close-btn:hover {
    background: rgba(139, 139, 139, 1);
    transition: .25s;
}

#violationHeader {
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
}

.generate-report-btn {
    width: auto;
    padding:12px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
    background: #0C8039;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    letter-spacing: 1px;
    outline: none;
    border: none;
    color: white;
    display:inline-flex;
}

.generate-report-btn:hover {
    background: #00713D;
    transition: .25s;
}

@media print {
    #user-table {
        margin-top: 30px;
        display:block;
        overflow:visible;
    }

    #user-table2 {
        margin-top: 25em;
        display:block;
        overflow:visible;
    }

    .container {
        display: none;
    }

    nav {
        display: none;
    }

    #violationTooltip {
        display: none;
    }

    table {
        border:solid #000 !important;
        border-width:1px 0 0 1px !important;
    }
    th, td {
        border:solid #000 !important;
        border-width:0 1px 1px 0 !important;
    }
}
