body{
    background: url("/img/login_pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

nav {
    visibility: hidden;
}

.divider {
    margin-left: 10px;
    margin-right: 10px;
}

#subheader {
    position: relative;
    margin-left: 121px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 54px;
    /* identical to box height */
    color: #ABABAB;
}

.container{
    font-family: 'Poppins', sans-serif !important; 
    font-size: 18px;
    font-weight: 500;
    max-width: 500px;
    margin:auto;
    background: rgba(12, 128, 57, 0.9);
    box-sizing: border-box;
    padding:40px;
    color:#fff;
}

#bg-img {
    background: url("/img/dlsu_facade_add_user.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 40px;
}

.row {
    color: #000;
    font-family: 'Poppins';
    font-size: 18px;
}

.form-control, .form-select {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

#header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}

input[type='text']:not(.search-text), input[type=password], input[type=email]{
    width:100%;
    box-sizing:border-box;
    padding:12px 15px;
    background: #fff;
    outline: none;
    border: none;
    border-bottom: 0.5px solid gray;
    color: #000;
    margin: 1px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

button[type=submit]:not(.search-button){
    width: 100%;
    padding:10px 50px;
    margin: 0px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    outline: none;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

button[type=submit]:hover{
    background: rgba(0, 0, 0, 1);
    transition: 0.25s;
}