/* The side navigation menu */
.sidenav {
    float:left;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.25s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: #000;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #00713D !important;
}

.sidenav .closebtn:hover {
    color: #000 !important; 
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    right: 10px;
    padding-top: 18px;
    font-size: 30px;
    color: #fff;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#burger-menu {
    position: absolute;
    padding: 18px 0px 20px 40px;
    color: #fff;
    font-size:30px;
    cursor:pointer
}

#burger-menu:hover {
    color: #000;
    transition: .25s;
}

#side-nav-header {
    height: 80px;
    width: 100%;
    color: #fff;
    display:inline-flex;
    padding-left: 30px;
    background: #00713D;
    align-items: center;
}

#side-nav-logo {
    padding-top:18px;
    padding-bottom: 18px;
    font-family: 'Work Sans', sans-serif;
    font-size: 34px;
    font-weight: bolder;
}

#sidenav-logout {
    position: absolute;
    bottom: 0;
}