#header {
    position: relative;
    margin-left: 121px;
    margin-top: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 54px;
    /* identical to box height */
    color: #000000;
}

.container{
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    max-width: 1290px;
    margin:20px auto 60px;
    background: none;
    box-sizing: border-box;
    padding:0px;
    color:#fff;
}

.full-size-btn, .upload-btn, .upload-contract-btn {
    width: auto;
    padding:12px 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
    margin-right: 20px;
    background: #0C8039;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    letter-spacing: 1px;
    outline: none;
    border: none;
    color: white;
}

.full-size-btn {
    float: right;
    display:none;
    margin-right: 0px;
}

.upload-btn-modal {
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    padding: 12px 20px;
    background: #0C8039;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    color: #fff;
    border: none;
    outline: none;
}


.upload-btn:hover, .upload-btn:active, .full-size-btn:hover, .full-size-btn:active, .upload-btn-modal:hover, .upload-btn-modal:active {
    background: #00713D;
    transition: .25s;
}

.close-btn {
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    padding: 12px 20px;
    background: rgba(139, 139, 139, 0.6);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    color: #fff;
    border: none;
    outline: none;
}

.close-btn:hover {
    background: rgba(139, 139, 139, 1);
    transition: .25s;
}

#myInput {
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    width: 100%;
    height: 49px;
    background: #FFFFFF;
    border-radius: 0px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table-headers {
    background: rgba(12, 128, 57, 0.6);
    color: #000;
    font-weight: bolder;
    line-height: 24px;
    text-align:center;
    cursor: default;
}

.modal-header {
    display: flex;
    background: #00713D;
    font-family: 'Poppins';
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    line-height: 48px;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: none;
    cursor: default;
}

.modal-body {
    font-family: 'Poppins';
    font-size: 16px;
    padding: 20px 40px;
    justify-content: center;
    text-align: left;
    background: #D9D9D9;
    color: #000;
    outline: none;
    cursor: default;
}

.modal-footer {
    margin-top: 0px;
    outline: none;
    border: none;
    background: #D9D9D9;
    justify-content: center;
    cursor: default;
}

.dropdown {
    padding-left: 10px;
    height: 50px;
    width: 418px;
    background: #FFFFFF;
    border: 1px solid #ced4da;
    border-radius: 0px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000;
}

.modal-text {
    padding-bottom: 5px;
}

.tab-pane {
    overflow-y:auto;
    max-height: 532px;
}

.border-div {
    border-bottom: solid #000 1px;
}

.folder-header, .files-header {
    color: #000;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.folder-container {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 30px 10px;
    line-height: 30px;
    color: #000;
    background: rgba(217, 217, 217, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-item {
    text-align: left;
    border: none;
    text-decoration: none;
    display: flex;
    background: none;
}

.nav-tabs {
    border: none;
}

.header-close-btn {
    height: fit-content;
    line-height: normal;
    padding: 0px;
    border: none;
    background: none;
    color: #fff;
    font-size: 36px;
    float: right;
    margin-right: 20px;
}

.header-close-btn:hover {
    color: #000;
    transition: .25s;
}

.contract-type-text {
    color: #000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
}

#repositorycontractdropdown {
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    background: #FFFFFF;
    border-radius: 0px;
    border: 1px solid #ced4da;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 49px;
    align-content: center;
}

.repodropdown {
    float: right;
}

.search-repo {
    margin-bottom: 20px;
    display: inline-flex;
    align-items: baseline;
    width: 300px;
}