#header {
    position: relative;
    margin-left: 121px;
    margin-top: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 54px;
    /* identical to box height */
    color: #000000;
}

.container{
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    max-width: 1290px;
    margin:20px auto 60px;
    background: none;
    box-sizing: border-box;
    padding:0px;
    color:#fff;
}

.upload-btn {
    width: auto;
    padding:12px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
    background: #0C8039;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    letter-spacing: 1px;
    outline: none;
    border: none;
    color: white;
}

.upload-btn:hover, .upload-btn:active {
    background: #00713D;
    transition: .25s;
}

.close-btn {
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    padding: 12px 20px;
    background: rgba(139, 139, 139, 0.6);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    color: #fff;
    border: none;
    outline: none;
}

.close-btn:hover {
    background: rgba(139, 139, 139, 1);
    transition: .25s;
}

#myInput {
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    width: 100%;
    height: 49px;
    background: #FFFFFF;
    border-radius: 0px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#template-bar {
    margin-bottom: 20px;
}

.table-headers {
    background: rgba(12, 128, 57, 0.6);
    color: #000;
    font-weight: bolder;
    line-height: 24px;
    text-align:center;
    cursor: default;
}

.modal-header {
    background: #00713D;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    line-height: 48px;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: none;
    cursor: default;
}

.modal-body {
    font-family: 'Poppins';
    font-size: 16px;
    padding: 20px 40px;
    justify-content: center;
    text-align: left;
    background: #D9D9D9;
    color: #000;
    outline: none;
    cursor: default;
}

.modal-footer {
    margin-top: 0px;
    outline: none;
    border: none;
    background: #D9D9D9;
    justify-content: center;
    cursor: default;
}

.dropdown {
    padding-left: 10px;
    height: 50px;
    width: 418px;
    background: #FFFFFF;
    border: 1px solid #ced4da;
    border-radius: 0px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000;
}

.modal-text {
    padding-bottom: 5px;
}